.App {
	text-align: center;
	background-color: aliceblue;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}

input {
	font-size: 2rem;
	border: 2px solid #252525;
	border-radius: 0.3rem;
	margin-top: 0.5rem;
}

.input-container {
	text-align: left;
}

p {
	margin: 0;
	margin-bottom: 0.25rem;
	color: #ff0000;
	font-size: 1rem;
}
button {
	width: 100%;
	font-size: 2rem;
   margin-top: 1rem;
}
